<mat-card class="intro-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Intro</mat-card-title>
    <mat-card-subtitle>about this website</mat-card-subtitle>
  </mat-card-header>
  <img
    class="mean-stack-image"
    mat-card-image
    src="https://webassets.mongodb.com/_com_assets/cms/mean%202-c6c9d2d665.png"
    alt="Photo of Mean stack"
    title="image of mean stack"
  />
  <mat-card-content>
    <h1 class="mat-headline">Overview</h1>
    <p class="mat-body">
      1.Backend is written in Typescript with NodeJs, Express, and Mongoose.
      It's a RESTful API that supports create, update, read, and delete of user
      accounts and forum posts. SocketIO is used for Chat server.
    </p>
    <mat-divider [inset]="true"></mat-divider>
    <p class="mat-body">
      2.Angular material is used for frontend.
    </p>
    <mat-divider></mat-divider>
    <h1 class="mat-headline">User</h1>
    <p class="mat-body">
      1.User accounts can be created, read, updated, and deleted through User
      menu.
    </p>
    <mat-divider></mat-divider>
    <h1 class="mat-headline">Forum</h1>
    <p class="mat-body">
      1.Users can create, read, update, and delete posts through Forum menu.
    </p>
    <mat-divider></mat-divider>
    <h1 class="mat-headline">Chat</h1>
    <p class="mat-body">
      1.Users can send messages to other users in chat.
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
